      <div class="columns is-multiline is-1-mobile">
       
        <% model.each do |a|%>
        <div class="field column is-one-quarter">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
              <%= insert_wall_image_link(a) %>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="/img/artista.jpg" alt="Placeholder image">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4"><%= link_to a.name, artist_path(a)%></p>
                  <p class="subtitle is-6"> <%= add_instagram_only(a)%> </p>
                </div>
              </div>

              <div class="content">
                <p> <%= a.bio.truncate(100)%> </p>
                <%# lives in HomeHelper %>
                <%= check_tags(a)%>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>