  <div class="columns is-multiline is-1-mobile">
    <div class="field column is-half">
      <div class="card">
        <div class="card-image">
         <figure class="image is-4by3">
           <%= insert_wall_image_link(@artist) %>
          </figure>
       </div>
            
<div class="field">
  <p class="title is-2"> <%= @artist.name %> </p></div> 
   <div class="media-content">
  <p class="title is-5"> <%= @artist.hometown %> <br>
  <%= link_to "@#{@artist.instagram_username(@artist.instagram)}", @artist.instagram, target: :_blank unless !@artist.instagram %> 
  </p> </div> <br>
      
  <p> <%= @artist.bio %> </p> <br>
    <%= artist_show_buttons(@artist)%> 
</div></div></div>

<div class="field column is-half is-1-mobile">

    <%= link_to "Walls by #{@artist.name}", artist_walls_path(@artist), class: "button is-warning" %> &nbsp;


    <%= link_to "New #{@artist.name} Wall", new_artist_wall_path(@artist), class: "button is-danger" %>
   <br>
</div></div>
