<div class="field">
<h1> <%= @artist.name %> </h1>
<h1> <%= @artist.hometown %> </h1>
<p> <%= @artist.bio %> </p>
<%= link_to "Instagram", @artist.instagram, target: :_blank %>
</div>

<div class="columns">
  <div class="column is-4">
    <%= link_to "Walls by #{@artist.name}", artist_walls_path(@artist), class: "button is-warning" %>
  </div>

  <div class="column is-4">
    <%= link_to "New #{@artist.name} Wall", new_artist_wall_path(@artist), class: "button is-danger" %>
  </div> <br>
</div>
<div class="content">
  <div class="field">
    <%= button_to "Delete?", @artist, method: :delete, data: { confirm: "This will delete #{@artist.name} you sure?" }, class: "button is-small is-danger is-inverted" %>
  </div>
    <div class="field">
  <div><%= button_to "Edit Artist", edit_artist_path(@artist), :method => "get", class: "button is-small is-primary is-inverted" %></div>
  </div>

</div>
