<div class="field">
<h1> <%= @artist.name %> </h1>
<h1> <%= @artist.hometown %> </h1>
<p> <%= @artist.bio %> </p>
<%= link_to "Instagram", @artist.instagram, target: :_blank %>
</div>

<div class="columns is-multiline is-1-mobile">
  <div class="field column is-one-quarter">
    <%= link_to "Walls Done by #{@artist.name}", artist_walls_path(@artist), class: "button is-warning" %>
  </div>

  <div class="field column is-one-quarter">
    <%= link_to "Add New #{@artist.name} Wall", new_artist_wall_path(@artist), class: "button is-danger" %>
  </div><br>
</div>
