<div class="field">
<h1> <%= @artist.name %> </h1>
<h1> <%= @artist.hometown %> </h1>
<p> <%= @artist.bio %> </p>
<%= link_to "Instagram", @artist.instagram, target: :_blank %>
</div>

<div class="columns">
  <div class="column is-4">
    <%= link_to "Walls by #{@artist.name}", artist_walls_path(@artist), class: "button is-warning" %>
  </div>

  <div class="column is-4">
    <%= link_to "New #{@artist.name} Wall", new_artist_wall_path(@artist), class: "button is-danger" %>
  </div>
</div>
