<%= form_with model: wall, local:true do |f| %>

    <div class="field">
    <h4 class="title is-4"> Wall Artist(s):</h5>
         
     <%= f.fields_for :artists do |a_fields| %>
         <%= a_fields.text_field :artist_name, list: "artist_autocomplete", placeholder: "Search artist", required: true, class: "control" %>
        <datalist id="artist_autocomplete">
            <% Artist.all.each do |a| %>
            <option value="<%= a.artist_name %>">
            <% end %>
        </datalist>
     <% end %>
     </div>
    <small class="is-italic is-size-7">No luck? <%=  link_to "Add Artist", new_artist_path %> </small>
    <br>
    <!-- need add new artist button, maybe break up this form? --> 

        <!-- this activates if 2 artists change according. GENERATE BELOW AFTER ADD ARTIST BUTTON IS CLICKED --> 
         <div class="field">
         <div class="control">
            <%= f.label :collaboration_details %>
            <%= f.text_area :collaboration_details, cols: 50, rows: 3  %>
         </div></div>    
        <!-- above mockup only --> 
    <div class="field">
    <h4 class="title is-4">Wall Location:</h5>
        <%= f.text_field :location_name, list: "locations_autocomplete", placeholder: "Search city", required: true, class: "control" %>
        <datalist id="locations_autocomplete">
            <% Location.all.each do |l| %>
            <option value="<%= l.city %>">
            <% end %>
        </datalist>

            <p class="is-italic is-size-7">City not found? <%=  link_to "Add New", new_location_path %> </p>        
    </div><br>

    <div class="field">
    <h4 class="title is-4">Wall Details:</h5>
        <div class="field">
         <div class="control">
            <%= f.label "year done"%>
            <%= f.select :date_done, (Date.today.year).downto(1970), include_blank: true  %>
         </div></div>
         <div class="field">
         <div class="control">
            <%= f.label :address, size: 50 %>
            <%= f.text_field :address %>
         </div></div>
         <div class="field">
         <div class="control">
            <%= f.label :description %>
            <%= f.text_area :description, cols: 50, rows: 6, required: true  %>
         </div></div>
        <div class="field">
         <!-- need implement add file later--> 
         <div class="control">
            <%= f.label :image %>
            <%= f.file_field :image %>
         </div></div>         

    <div class="field">
        <%= f.label :tags %>
        <%= f.text_field :wall_tags, class: "control", required: true %>
    </div>
        <!-- need add new tag button, maybe break up this form? --> 
    </div>
    <div class="buttons">
    <%= f.submit "Add Wall", { class: 'button is-danger' } %>
    </div><br>

<% end %>