<%= form_with model: wall, local:true do |f| %>

  <div class="dynamicField" id="dynamicField">
    <h4 class="title is-4"> Wall Artist(s):</h5>
    <% if @artist %>
        <fieldset>
             <!-- new Artist Wall Nested Route--> 
            <input type="text" required="required" class="control addedSet" type="text" name="wall[artists_attributes][0][name]" id="wall_artists_attributes_0_name" value="<%=@artist.name%>" readonly="readonly">
         </fieldset>
    <% else %>
    
        <%= f.fields_for :artists do |a_fields| %>
        <div class="addedSet">
            <%= a_fields.text_field :name, list: "artist_autocomplete", placeholder: "Search artist", required: true, class: "control" %>
            <datalist id="artist_autocomplete">
                <% Artist.all.each do |a| %>
                <option value="<%= a.artist_name %>">
                <% end %>
            </datalist>
        <span class="input-group-text">	
            <button type="button" class="removeX close"> x</button> 
        </span></div>
        <% end %>
    <% end %> <br>
         <small class="is-italic is-size-7">If artist not found. <%=  link_to "Add New Artist", new_artist_path %> </small>
  </div> 

    <div class="field dynamicField" >
        <button type="button" class="button is-small is-danger addArtist close" id="addArtist"> + Artist </button><br>
        <div id="fieldAdd" class="columns is-multiline is-1-mobile"></div><br>
    </div>

    <div class="field">
    <h4 class="title is-4">Wall Location:</h5>
        <%= f.text_field :location_name, list: "locations_autocomplete", placeholder: "Search city", required: true, class: "control" %>
        <datalist id="locations_autocomplete">
            <% Location.all.each do |l| %>
            <option value="<%= l.city %>">
            <% end %>
        </datalist>
            <p class="is-italic is-size-7">City not found? <%=  link_to "Add New", new_location_path %> </p>        
    </div><br>

    <div class="field">
    <h4 class="title is-4">Wall Details:</h5>
        <div class="field">
         <div class="control">
            <%= f.label "year done"%>
              <% if @wall.date_done && @wall.date_done.year %>
                <%= f.select :date_done, (Date.today.year).downto(1970), :selected => @wall.date_done.year, include_blank: true  %>
            <%else%>
                <%= f.select :date_done, (Date.today.year).downto(1970), include_blank: true  %>
            <%end%>
         </div></div>
         <div class="field">
         <div class="control">
            <%= f.label :address, size: 50 %>
            <%= f.text_field :address %>
         </div></div>
         <div class="field">
         <div class="control">
            <%= f.label :description %>
            <%= f.text_area :description, cols: 50, rows: 6, required: true  %>
         </div></div>
        <div class="field">
         <!-- need IMPLEMENT ADD FILE later--> 
         <div class="control">
            <%= f.label :image %>
            <%= f.file_field :image %>
         </div></div>         

    <div class="field">
        <%= f.fields_for :tags do |t_fields| %>
        <%= t_fields.label :tags %>
        <%= t_fields.text_field :name, class: "control", placeholder: "tag name", required: true %> 
         <% end %>
    </div>
    
    <div class="field dynamicField">
        <button type="button" class="button is-small is-danger" id="tagAdd"> + Tags </button>
        <br>
        <div id="fieldAdd2" class="columns is-multiline is-1-mobile"></div><br>
    </div>
    <div class="buttons">
    <%= f.submit "Submit", { class: 'button is-danger' } %>
    </div><br>
<% end %>