      <div class="columns is-multiline is-1-mobile">
        <% model.each do |w|%>
        <div class="field column is-one-quarter">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <%= insert_image_link(w.images.first)%>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="/img/can.png" alt="Placeholder image">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4"><%= link_to w.location.city, wall_path(w)%></p>
                  <p class="subtitle is-6"><%= wall_artists_card(w)%></p>
                </div>
              </div>

              <div class="content">
                <p><%= w.description.truncate(100)%> </p>
                <%= check_tags(w)%>
                <br>
                <time datetime=<%="#{w.date_done}"%>><%=w.date_done.year if w.date_done %></time>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div></div>