<h2> <%= @wall.location.city %> </h2>

<p> <%= @wall.description %> </p>
<p> <%= @wall.date_done.year if @wall.date_done %> </p>

<p>Artist(s) Involved:</p>
<!-- helper in WallsHelper--> 
<div><%= link_artist(@wall) %></div>

<%= add_contr_details(@wall)%>

<p>Tags:</p>
<% @wall.tags.each do |t| %>
  <div>#<%= t.name %></div>
<% end %>

<h2> Image: TBD </h2>

<div><%= button_to "Edit Wall", edit_wall_path(@wall), :method => "get", class: "button is-small is-danger" %></div>