  <%= render 'notice/errors_full_messages', model: @wall %>
  <br><section class="hero is-small is-light">
  <div class="hero-body">
    <div class="container">
 

        <ul>
            <li>
              <figure class="image responsivy">
              <%= insert_image_link(@wall.images.first)%>
              </figure>
            </li> 
      

        </ul>
    </div>
  </div>
</section>
<h2> <%= @wall.location.city %> </h2>

<p> <%= @wall.description %> </p>
<p> <%= @wall.date_done.year if @wall.date_done %> </p>

<h4 class="title is-4">Artist(s) Involved</h4>
<!-- helper in WallsHelper--> 
<div class="content"><%= link_artist(@wall) %></div>

<!-- for ArtistWall cont details uses helper--> 
<div class="content"><%= add_contr_details(@wall)%></div>
<% if @wall.artists.present?%>
  <%= form_with scope: :artist_wall, url: artist_wall_path(@artist_wall), method: :patch, local:true do |f| %>
  <div id="contFields">

    </div>
<% end %><% end %>

<h4 class="title is-4">Tags</h4>
<div><%= tag_list(@wall) %></div>

<div><%= button_to "Edit Wall", edit_wall_path(@wall), :method => "get", class: "button is-small is-danger" %></div>