<!DOCTYPE html>
<html>
  <head>
    <title> <%=  @title || yield(:title) %> </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application" %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
         <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
     <%= favicon_link_tag asset_path('uff-favi-tw.png') %>    
  </head>

  <body>
    <!--navbar -->
    <nav class="navbar is-danger" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="<%= root_url %>"><img alt="Home" src="<%= asset_path('uff-nav.png')%>"></a>
        <span></span>
        <span></span>
        </div>
      <div class="navbar-brand">
      <% if user_signed_in? %>
          <span class='navbar-item'> Welcome <%= current_user.name %>! </span>
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-item' %> 
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-item'  %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-item'  %> 
          <%= link_to "Login", new_user_session_path, :class => 'navbar-item'  %>
        <% end %>
      </div>
    </nav>


    <!-- devise alert and for flash messages -->
     <% if alert || notice %>
      <br><div class="notification">
       <div id="error_explanation"> 
          <p class="has-text-success"><%= "#{notice if notice}" %></p>
          <p class="love"><%= "#{alert if alert}"  %></p>
      </div></div>
    <% end %>
  
    <!-- content below -->
    <div class="container">
      <%= yield %>
    </div>
    <!-- footer -->

    <footer class="footer">
      <div class="content has-text-centered">
        <p>
         <strong>© 2019 Uff!</strong> <br>Made with <span class="love">❤</span> by
          <a href="http://github.com/fbohz/" target="_blank">FBohz</a>
       </p>
      </div>
    </footer>

  </body>
</html>
